<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="WpfFarmsSupplier.Properties.Settings.farmsDBConnectionString" connectionString="Data Source=.;Initial Catalog=farmsDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WpfFarmsSupplier.Properties.Settings.NorthwindConnectionString" connectionString="Data Source=WINDOWS-U4KPP12\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="farmsDBEntitiesIII" connectionString="metadata=res://*/framsDBModel.csdl|res://*/framsDBModel.ssdl|res://*/framsDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=farmsDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="farmsDBEntities" connectionString="metadata=res://*/framsDBModel.csdl|res://*/framsDBModel.ssdl|res://*/framsDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WINDOWS-U4KPP12\SQLEXPRESS;initial catalog=farmsDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="farmsDBEntitiesHome" connectionString="metadata=res://*/HomefarmsDBModel.csdl|res://*/HomefarmsDBModel.ssdl|res://*/HomefarmsDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WINDOWS-U4KPP12\SQLEXPRESS;initial catalog=farmsDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>