<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="farmsDBEntities" connectionString="metadata=res://*/farmsDB.csdl|res://*/farmsDB.ssdl|res://*/farmsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.152.55;initial catalog=farmsDB;persist security info=True;user id=farms;password=Farms;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>